<div class="container">


<form action="/post/create" method="post">
  <input type="hidden" name="post[user_id]" value="<%= current_user.id %>">
  <input class="login" id="post_title" name="post[title]" placeholder="Title" value="<%= @post.title if @post%>"><br>

  <textarea id="post_body" rows=15 col=60 name= "post[body]" placeholder="Enter text here..." value="%= @post.body if @post%>"></textarea><br>

  <input class="button" type="submit" value="Post!"><br>
</form>

</div>