<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<header>
  <a class="nav_title" href='/'>Sonic Blog</a>
  <% if current_user %>
  <a class="logout" href="/logout">logout</a>
  <% else %>
  <div class="login">
    <a id="join" href="/create_user">Join</a>
    <form class="login" action="/login" method="post">
      <input type="text" name="user[email]" placeholder="Email">
      <input type="password" name="user[password]" placeholder="Password">
      <input  class="button" type="submit" value="Login">
    </form>
  </div>
  <% end %>
</header>
<body>
  <!-- <div id="blanket" class="blanket">
      <div id="sign_up_container" class="sign_up_container">
    <h2>Join us.</h2>

    <form action="/create_user" method="post">
      <input type="text" name="user[name]" placeholder="ie. Rachel Warbelow"><br>
      <input type="text" name="user[email]" placeholder="ie. rachelwarbelow@gmail.com"><br>
      <input type="password" name="user[password]" placeholder="password"><br>
      <input type="submit" value="Create User">
    </form>
  </div>
  </div>
  </div> -->

  <%= yield %>

</body>
</html>
